$midnight: #1A2238; // primary
$twilight: #29375b; // secondary
$lavender: #9DAAF2; // accent
$iris: #3b4ca8; // tertiary
$white: #F8F8FB;
$orange: #FF6A3D; // buttons and links
$yellow: #F4DB7D; // complimentary
$gray: #797E89; // border
